.post {
  border: 1px solid;
  border-color: var(--window-border-color);
  background-color: white;
  font-size: 16px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.blogimage {
  display: flex;
}
.blogIndividual {
  text-decoration: none;
  color: inherit;
  margin-top: 25px;
  margin-left: 10px;

  align-items: center;
}
