.post {
  border: none;
  background-color: var(--background-color);
  font-size: 16px;
}
.post-1 {
  border: 1px solid;
  border-color: var(--window-border-color);
  background-color: white;
  font-size: 16px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.post-2 {
  border: 1px solid;
  border-color: var(--window-border-color);
  background-color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
.post-3 {
  border: 1px solid;
  border-color: var(--window-border-color);
  background-color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
  display: flex;
  margin-bottom: 10px;
}
.addComment {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.deleteForm {
  margin-left: auto;
}

.blogDelete {
  position: relative;
  top: 10px;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  text-align: center;
  align-items: center;
  background-color: white;
}
